
.user-info {
    margin-top: 1%;
}

.add-order {
    margin-top: 4%;
    border-style: groove;
}

.add-button {
    margin-bottom: 3%;
}

.order-page {
    margin-top: 4%;
}

.user-profile {
    margin-top: 4%;
}